@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set font family in body */
body {
	font-family: "Poppins", sans-serif;
}

/* Scrollbar background color */
::-webkit-scrollbar {
	background-color: #f5f5f5;
	border-radius: 0px 0.75rem 0.75rem 0;
}

/* Scrollbar thumb color */
::-webkit-scrollbar-thumb {
	background-color: #d6d6d6;
	border-radius: 0.75rem;
}

/* Scrollbar thumb hover color */
::-webkit-scrollbar-thumb:hover {
	background-color: #c1c1c1;
}
